# Server Port
SERVER_PORT=3000

# DB Connection Information
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=wku_ai_chat

# AI API Key
AI_API_KEY=your_ai_api_key_here

# Session Secret
SESSION_SECRET=your_session_secret_here
