# DB Connection Information
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=wku_ai_chat

# [Cloud] Aiven DB SSL 강제 방지를 위해 로컬 개발은 false, Vercel 배포만 true로 설정
DB_SSL=false

# AI API Key
AI_API_KEY=your_ai_api_key_here

# Session Secret
SESSION_SECRET=your_session_secret_here
